:root {
  /* ### Primary */
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);

  /* with 75% opacity for lightbox background */
  --Black: hsl(0, 0%, 0%);

  --Font-size: 16px;

  --weight-bold: 700;
}

* {
  color: var(--Dark-grayish-blue);
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--Black);
  opacity: 75%;
  display: none;
}

.overlay.active {
  display: block;
  outline: none;
  background-blend-mode: unset;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.navabr {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--Grayish-blue);
}

.menu--children {
  display: flex;
  gap: 1.5rem;
}

.nav-close,
.nav-toggle {
  display: none;
}

.menu {
  padding-left: 5%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu-link {
  position: relative;
}

.menu-link::after {
  content: "";
  position: absolute;
  bottom: -30px;
  border-radius: 10px;
  display: block;
  background-color: var(--Orange);
  width: 0%;
  height: 5px;
  transition: width 0.3s;
}

.menu-link:hover::after {
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.616);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__content {
  height: 200px;
}

.cart__content .product div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  justify-content: space-around;
}

.pdt__title {
  color: var(--Dark-grayish-blue);
}

.pdt__description {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.pdt__description p:last-child {
  margin-right: auto;
  color: var(--Dark-grayish-blue);
}

.pdt__description b {
  color: black;
}

.cart__content img {
  width: 60px;
  border-radius: 6px;
}

.delete__btn {
  background-color: transparent;
  border: none;
  width: 18px;
  cursor: pointer;
}

.delete__btn img {
  width: 100%;
}

.checkout__btn {
  background-color: var(--Orange);
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1rem;
  cursor: pointer;
}

.profile-n-cart {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
  position: relative;
}

.cart-image {
  width: 2rem;
}

.indicator {
  color: var(--Light-grayish-blue);
  position: absolute;
  top: -0.7rem;
  left: 10px;
  width: 1.8rem;
  font-size: 12px;
  text-align: center;
  padding: 1px 4px;
  border-radius: 1rem;
  background-color: var(--Orange);
  display: none;
  color: var(--Light-grayish-blue);
  font-weight: var(--weight-bold);
}

.avatar-image {
  width: 3rem;
}

.avatar-image:hover {
  outline: 2px solid var(--Orange);
  border-radius: 50%;
}

.body-container {
  padding: 10% 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  margin: 0 5%;
}

.slide-container img {
  border-radius: 1rem;
}

.product-image-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mySlides {
  display: none;
}
.mySlides img {
  border-radius: 1rem;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: #ffffff;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

.prev svg,
.next svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev:hover svg path,
.next:hover svg path {
  stroke: var(--Orange);
}

.next {
  right: 1rem;
}
.prev {
  left: 1rem;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.thumbnails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1.2rem;
}

.dot {
  cursor: pointer;
  height: 83px;
  width: 83px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 0.5rem;
  transition: background-color 0.6s ease;
  position: relative;
}

.dot img {
  border-radius: 0.5rem;
}

.active,
.dot:hover {
  outline: 2px solid var(--Orange);
  background-blend-mode: overlay;
}

.dot:nth-child(1) {
  background-image: url(/images/image-product-1-thumbnail.jpg);
  background-size: cover;
}
.dot:nth-child(2) {
  background-image: url(/images/image-product-2-thumbnail.jpg);
  background-size: cover;
}
.dot:nth-child(3) {
  background-image: url(/images/image-product-3-thumbnail.jpg);
  background-size: cover;
}
.dot:nth-child(4) {
  background-image: url(/images/image-product-4-thumbnail.jpg);
  background-size: cover;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* #################### LIGHT BOX ################## */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 75%);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.my-slides {
  display: none;
}
.my-slides img {
  border-radius: 1rem;
}

/* Next & previous buttons */
.prev-lite-box,
.next-lite-box {
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

.close-lite-box {
  cursor: pointer;
  position: absolute;
  top: -2rem;
  right: 0;
}

.close svg path {
  fill: white;
}

.close-lite-box svg:hover path {
  fill: orange;
}

.prev-lite-box {
  left: -1.5rem;
}
.next-lite-box {
  right: -1.5rem;
}

.prev-lite-box svg:hover path,
.next-lite-box svg:hover path {
  stroke: orange;
}

.slideshowTwo-container {
  max-width: 400px;
  position: relative;
  margin: 0 auto 0;
}

.lb-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1.2rem;
}

.activeTwo-lb,
.dot-light-box:hover {
  outline: 2px solid hsl(26, 100%, 55%);
  background-blend-mode: overlay;
}

.dot-light-box {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 0.5rem;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}

.dot img {
  border-radius: 0.5rem;
}

.dot-light-box:nth-child(1) {
  background-image: url(/images/image-product-1-thumbnail.jpg);
  background-size: cover;
}
.dot-light-box:nth-child(2) {
  background-image: url(/images/image-product-2-thumbnail.jpg);
  background-size: cover;
}
.dot-light-box:nth-child(3) {
  background-image: url(/images/image-product-3-thumbnail.jpg);
  background-size: cover;
}
.dot-light-box:nth-child(4) {
  background-image: url(/images/image-product-4-thumbnail.jpg);
  background-size: cover;
}

.cursor {
  cursor: pointer;
}
/* #################### LIGHT BOX ################## */

.product-detail-box {
  width: 100%;
  height: 100%;
}

.product-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.company-name {
  color: var(--Orange);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: var(--weight-bold);
  padding-bottom: 1.2rem;
}

.product-name {
  font-size: 2.5rem;
  font-weight: var(--weight-bold);
  color: var(--Black);
  padding-bottom: 2rem;
}

.product-detail {
  padding-bottom: 1.5rem;
}

.price-box {
  padding-bottom: 1rem;
}

.discounted-price-box,
.cart-detail-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  color: var(--Black);
  padding-bottom: 0.5rem;
}

.discount {
  color: var(--Orange);
  background-color: var(--Pale-orange);
  font-weight: var(--weight-bold);
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.real-price {
  text-decoration: line-through;
  font-weight: var(--weight-bold);
  color: var(--Grayish-blue);
}

.quantity-box {
  background-color: var(--Light-grayish-blue);
  padding: 0.5rem;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border-radius: 0.7rem;
}

.quantity-box span {
  cursor: pointer;
  padding: 0 0.9rem;
  color: var(--Orange);
  font-weight: var(--weight-bold);
}

.quantity-box span:nth-child(2) {
  color: var(--Black);
  font-size: 1rem;
  padding-top: 0.15rem;
}

.cart-detail-box {
  width: 100%;
}

.add-to-cart-box a {
  background-color: var(--Orange);
  border: none;
  border-radius: 0.7rem;
  padding: 1rem;
  color: var(--Light-grayish-blue);
  font-weight: var(--weight-bold);
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3.5rem;
}

.add-to-cart-box div {
  padding-top: 0.2rem;
}

.add-to-cart-box,
.quantity-box {
  width: 100%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.menuWrapper {
  position: relative;
  transition: all 0.3s ease;
}

.container .menuWrapper .btn {
  cursor: pointer;
}

.cart-item {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 5rem;
  right: 3rem;
  width: 350px;
  height: 250px;
  display: none;
  z-index: 100;
}

.cart-item .cart-title {
  font-size: 1.1rem;
  color: var(--Black);
  font-weight: var(--weight-bold);
  padding: 1rem;
}

.activeTwo {
  display: block;
}

.cart-item .menuItem {
  padding: 0.5rem 0;
  font-weight: 500;
}

.cart-item .menuItem:first-child {
  padding-top: 0;
}

.cart-item .menuItem:last-child {
  padding-bottom: 0;
}

@media (max-width: 1120px) {
  .body-container {
    margin: 0;
  }

  .cart-detail-box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .quantity-box {
    width: 100%;
    max-width: unset;
  }

  .product-name {
    font-size: 2rem;
  }

  .slideshow-container {
    max-width: 100%;
    position: relative;
  }

  .thumbnails {
    width: 100%;
  }

  .dot {
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .body-container {
    padding: 0 0 10%;
    grid-template-columns: auto;
    margin: 0;
  }

  .product-image-box {
    display: block;
  }

  .slideshow-container {
    max-width: 100%;
    position: relative;
  }

  .mySlides {
    height: 350px;
  }

  .mySlides img {
    border-radius: unset;
    height: 100%;
    object-fit: cover;
  }

  .thumbnails {
    display: none;
  }

  .product-wrapper {
    padding: 1.5rem;
  }

  .price-box {
    display: flex;
    align-items: unset;
    justify-content: space-between;
    width: 100%;
  }

  .cart-item {
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
  }

  .cart-detail-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .quantity-box {
    max-width: unset;
    justify-content: space-between;
    height: 3.2rem;
    border-radius: 0.7rem;
  }

  .add-to-cart-box .quantity-box {
    width: 100%;
  }

  .pdt__description {
    margin-right: auto;
    padding-left: 1rem;
  }

  .navabr {
    padding: 1rem 1rem;
  }

  .nav-close,
  .nav-toggle {
    display: block;
  }

  .nav-toggle {
    padding-right: 1rem;
  }

  .cart-image {
    width: 1.5rem;
  }

  .avatar-image {
    width: 2.3rem;
  }

  .menu {
    background-color: var(--White);
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    z-index: 1000;
    align-items: start;
    display: none;
  }

  .menu.active {
    display: block;
    outline: none;
    background-blend-mode: unset;
  }

  .menu-item {
    padding: 0.5rem 0;
  }

  .menu--children {
    flex-direction: column;
    gap: 1rem;
    margin: 30% 0 0;
    height: 100%;
  }

  .menu-link {
    color: var(--Black);
    font-weight: var(--weight-bold);
  }

  .nav-close {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .modal {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .lb-thumbnail {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  .prev,
  .next {
    display: block;
  }

  .menu-link:hover::after {
    width: 0;
  }
}

@media (min-width: 1400px) {
  .body-container {
    max-width: 900px;
    margin: auto;
  }
}
